body{
    background-color: black;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
}
header{
    text-align: center;
    color: white;
    font-size: 64px;
}
.about_designs{
    background-image: url(/img/about_designs.svg);
    width: 420px;
    height: 300px;
}
.case_1{
    background-image: url(/img/case_1.svg);
    width: 630px;
    height: 300px;
}
.span{
    display: flex;
    padding-left: auto;
    padding-right: auto;
}

div{
    margin: 15px 15px 15px 15px;
}
.indoor{
    background-image: url(/img/indoor.svg);
    width: 630px;
    height: 300px;
}
.scooters{
    background-image: url(/img/scooters.svg);
    width: 420px;
    height: 300px;
}
@media only screen and (max-width: 1200px){
    .span{
        display: block;
    }
    div{
        margin-left: auto;
        margin-right: auto;
    }
    section{
        width: 100%;
    }
}
a{
    text-decoration: none;
}
.namecard{
    font-size: 60px;
    color: rgba(255, 255, 255, 0);
    padding-left: 20px;
    font-weight: 600;
    padding-top: 10px; 
}
a:hover .namecard{
    color: rgb(255, 255, 255);
    opacity: 2;
    background: rgba(0, 0, 0, 0.568);
    height: 100%;
}